services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - APPSCRIPT_BASE_URL=https://script.google.com/macros/s/AKfycbxW0qZqvpGkURaRONQwsP4kQ1APVdhAY82czr9E6gk38zY_xoauKdyg1KCGt0sdrb4d/exec
    volumes:
      - .:/app
      - /app/.venv
    command: uv run flask run --host=0.0.0.0 --port=5000 --debug
    restart: unless-stopped